.R-screen {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.R-screen .R-div {
  background-color: #ffffff;
  height: 1026px;
  position: relative;
  width: 1440px;
}

.R-screen .frame {
  align-items: center;
  background-color: #000000;
  display: flex;
  gap: 10px;
  height: 61px;
  justify-content: center;
  left: -50px;
  padding: 21px 49px;
  position: absolute;
  top: 0;
  width: 1440px;
}

.R-screen .user-name {
  color: #ffffff;
  font-family: 'Inika-Bold', Helvetica;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  margin-bottom: -2.5px;
  margin-top: -4.5px;
  position: relative;
  text-align: center;
  width: fit-content;
}

.R-screen .video-player-wrapper video {
  width: 100%;
  height: 100%;
  /* 비디오가 찌그러지지 않고 비율을 유지한 채로 꽉 채웁니다. */
  object-fit: contain; 
}

.R-screen .video-player-wrapper {
  background-color: #f2f2f2;
  border: 0px none;
  height: 756px;
  left: 75px;
  position: absolute;
  top: 150px;
  width: 1290px;
}

.R-screen .overlap {
  height: 102px;
  left: 956px;
  position: absolute;
  top: 888px;
  width: 429px;
}

.R-screen .overlap-wrapper {
  background-color: #ffffff;
  height: 102px;
  left: 60px;
  position: absolute;
  top: 915px;
  width: 362px;
}

.R-screen .frame-2 {
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  height: 70px;
  left: 0;
  position: absolute;
  top: 21px;
  width: 71px;
}

.R-screen .overlap-group-wrapper {
  background-color: #ffffff;
  height: 102px;
  left: -35px;
  position: absolute;
  top: 27px;
  width: 362px;
}

.R-screen .overlap-group {
  background-color: #eeeeee;
  border-radius: 45.5px;
  height: 91px;
  left: 135px;
  margin-right: 500px;
  position: relative;
  top: 6px;
  width: 324px;
}

.R-screen .text-wrapper-2 {
  color: #000000;
  font-family: 'Inika-Bold', Helvetica;
  font-size: 20px;
  font-weight: 700;
  height: 34px;
  border: none;
  left: 71px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 33px;
  width: 183px;
}
